*.doc
*.pdf
*.docx
*.zip
*.xlsx
*.pptx
*.rar
*.Flv
*.mp4
*.swf
Thumbs.db
PHOTO

.DS_Store

public

!hugo-ifaise2020/static/**/*.docx
!hugo-ifaise2020/static/**/*.doc
!hugo-ifaise2020/static/**/*.pdf

hts-cache/
hugo-ifaise2020/httrack/web

ifaise2020
gh-pages