---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: document
  path: config.toml
  label: config
  match: "**/*"
  read_only: true
- type: directory
  path: hugo-ifaise2020/content
  label: Pages
  create: all
  match: "*"
upload_dir: hugo-ifaise2020//static
public_path: ''
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.79.0
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: cd hugo-ifaise2020 && hugo server -D -E -F --renderToDisk
    -d public
version: 0.79.0
