{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>

{{/* <link rel="shortcut icon" href= type="image/x-icon" /> */}}
<ul class="pl0 mr3">
    {{ range .Translations }}
    <li class="list f5 f4-ns fw4 dib pr3">
        <a class="dt center hover-white no-underline white-90" href="{{ .RelPermalink }}">
            <div class="dtc v-mid w2">
                <img class="db" src={{ "images/lang.png" | relURL }} />
            </div>
            <div class="dtc v-mid ph2">
            {{ .Language.LanguageName }}
            </div>
        </a>
    </li>
    {{ end}}
</ul>
{{ end }}
